body {
    margin:0
}

.header {
    background: #1F2937;
    display: flex;
    height: 50px;
    justify-content: space-between;
    padding: 10px;
    }

.header-links {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
    }

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #E5E7EB;
    font-weight: bolder;
    font-size: 24px;
    }

.section-one {
    display: flex;
    background: #1F2937;
    justify-content: space-between;
    padding:50px;
    }

.section-one-left {
    flex-direction: column;
    display: flex;
    padding: 15px;
    width: 500px;
    margin: 25px;
}

.awesome  {
    color: #E5E7EB;
    font-size: 32px;
    font-weight: bold;
    margin: 10px;
    }

.button1 {
    align-self: flex-start;
    margin: 10px;
    background-color: #3882f6;
    border: none;
    border-radius: 5px;
    padding: 10px;
    color: white;
    font-weight: bold;
   
}
.awesome-sub {
    display: flex;
    color: #E5E7EB;
    margin:auto 10px;
}

.section-one-right {
    display: flex;
    padding: 30px;
    align-items: flex-end;
    justify-content:right;
    margin: 25px;
    width: 500px;
    flex-grow: 1;
}

.ab-logo {
    display: flex;
    height: 150px;
    }

a {
    text-decoration: none;
    color: #E5E7EB;
}


.section-2-cards {
    display: flex;
    padding: 25px;
    align-content: center;
    justify-content: space-around;
    gap: 10px;
           
}

.section-three {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
}

.quote {
    display: flex;
    font-size: 32px;
    font-style: italic;
    font-weight: 50;
    padding: 100px;
    padding-bottom: 0;
    flex-direction: column;
}

h3{
    text-align: right;
}
.card-1, .card-2, .card-3, .card-4 {
    align-content: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    width: 150px;
    flex-grow: 0;
}
p {
    text-align: center;
    flex-wrap: wrap;
    display: flex;
}
h2 {
    display: flex;
    align-content: center;
    justify-content: center;
}

.section-four {
    display: flex;
    justify-content: center;
    padding: 50px;
        
}


.sign-up-box {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 25px;
    background-color: #3882f6;
    color: white;
    flex-grow: 1;
    border-radius: 10px;
    gap: 30px;
    text-align: left;
     
}

.button2 {
    
    background-color: #3882f6;
    color: white;
    border-color: white;
    border-radius: 5px;
    padding: 10px;
    border-style: solid;
    font-weight: bold;
}

.footer {
    display: flex;
    background-color: #1F2937;
    color: white;
    height: 50px;
    align-items: center;
    justify-content: center;
}