body {
    margin:0
}

.header {
    border: red solid;
    background: #1F2937;
    display: flex;
    height: 50px;
    justify-content: space-between;
    padding: 10px;
    }

.header-links {
    border: pink solid;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
      
    }

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #E5E7EB;
    font-weight: bolder;
    font-size: 24px;
    border: pink solid;

}

.section-one {
    display: flex;
    background: #1F2937;
    border: purple solid;
    justify-content: space-between;
}

.section-one-left {
    flex-direction: column;
    border: pink solid;
    display: flex;
    padding: 15px;
    width: 500px;
    margin: 25px;
}

.awesome  {
    color: #E5E7EB;
    font-size: 32px;
    font-weight: bold;
    margin: 10px;
    }

.sign-up{
    align-self: flex-start;
    margin: 10px;
    background-color: #3882f6;
}
.awesome-sub {
    display: flex;
    color: #E5E7EB;
    margin:auto 10px;
}

.section-one-right {
    border: pink solid;
    display: flex;
    padding: 30px;
    align-items: center;
    justify-content: center;
    margin: 25px;
    width: 500px;
    flex-grow: 1;
}

.ab-logo {
    display: flex;
    height: 150px;
    }

a {
    text-decoration: none;
    color: #E5E7EB;
}


.section-2-cards {
    display: flex;
    border: pink solid;
    padding: 25px;
    margin: 25px;
    align-content: center;
    justify-content: space-around;
    gap: 10px;
    
        
}

.card-1, .card-2, .card-3, .card-4 {
    border: purple solid;
    align-content: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    width: 150px;
    flex-grow: 0;
}
p {
    text-align: center;
    flex-wrap: wrap;
    display: flex;
}
h2 {
    display: flex;
    align-content: center;
    justify-content: center;
}